.meta-text {
    text-align: center;
    color: #1F255E;
    font-weight: 600;
    padding-bottom: 40px;
    font-weight: 600;
}

.text-list {
    text-decoration: none;
    color: #000;
}

.notFaund {
    padding-bottom: 20px;
    font-size: 18px;
}